/* You can add global styles to this file, and also import other style files */
.shine {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px; 
    display: inline-block;
    position: relative; 
    
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
    }

    @-webkit-keyframes placeholderShimmer {
        0% {
          background-position: -468px 0;
        }
        
        100% {
          background-position: 468px 0; 
        }
    }

    .box {
        height: 104px;
        width: 100px;
      }
      
      
      .lines {
        height: 10px;
        margin-top: 10px;
        width: 200px; 
      }
      
      .photo {
        display: block!important;
        width: 325px; 
        height: 100px; 
        margin-top: 15px;
      }


.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 45px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
} 
.star-ratings-css::before { 
  content: '★★★★';
  opacity: .3;
}

[title=".000"]::after {
  width: 0%;
}
[title=".125"]::after {
  width: 12.5%;
}
[title=".250"]::after {
  width: 25%;
}
[title=".375"]::after {
  width: 37.5%;
}
[title=".500"]::after {
  width: 50%;
}
[title=".625"]::after {
  width: 62.5%;
}
[title=".750"]::after {
  width: 75%;
}
[title=".875"]::after {
  width: 87.5%;
}
.star-ratings-css::after {
  color: gold;
  content: '★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}